div.background
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(162deg, rgba(255,75,75,1) 0%, rgba(54,68,255,1) 100%); 
    -webkit-app-region: drag;
}

div.background.morning
{
    background: linear-gradient(162deg, rgb(245, 237, 127) 0%, rgb(49, 138, 94) 100%);
}

div.background.day
{
    background: linear-gradient(162deg, rgba(255,75,75,1) 0%, rgba(54,68,255,1) 100%);
}

div.background.evening
{
    background: linear-gradient(162deg, rgb(255, 162, 75) 0%, rgb(85, 55, 219) 100%);
}

div.background.night
{
    background: linear-gradient(162deg, rgb(22, 7, 58) 0%, rgb(41, 50, 179) 100%);
}

img.close-button
{
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    // background-image: url('../icons/close-24px.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    padding: 4px;
    transition: 0.1s ease-in-out background-color;
    -webkit-app-region: no-drag;
}

img.close-button:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}

img.connecting-icon
{
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    // background-image: url('../icons/autorenew-24px.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    padding: 4px;
    animation: spin-anim 1.5s ease-in-out infinite;
}

@keyframes spin-anim
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

div.dev-version
{
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    margin: 5px;
    font-size: 18px;
    user-select: none;
}

div.notification
{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 0.5s ease-in-out notification-appear, 5s ease-in-out notification-fadeout;
    border-radius: 20px;
    z-index: 100;
    padding: 40px;
    max-width: 90%;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    user-select: none;
}

@keyframes notification-appear
{
    0% {opacity: 0; transform: translate(-50%, -50%) scale(0.8);}
    50% {transform: translate(-50%, -50%) scale(1.02);}
    100% {opacity: 1; transform: translate(-50%, -50%) scale(1);}
}

@keyframes notification-fadeout
{
    90% {opacity: 1;}
    100% {opacity: 0;}
}