
div.main-menu-title-container
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

div.main-menu-title-container div.title
{
    font-size: 40px;
    user-select: none;
    color: white;
    animation: 0.7s ease-in-out title-anim;
    -webkit-app-region: drag;
}

@keyframes title-anim
{
    0% {opacity: 0; transform: translateY(-20px)}
    100% {opacity: 1; transform: translateY(0)}
}

div.main-menu-title-container img.submit-gamecode-button
{
    position: absolute;
    right: -10px;
    top: 0;
    background-color: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;
    // background-image: url('../icons/arrow_forward-24px.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 28px;
    height: 28px;
    padding: 6px;
    transform: translate(100%, 0);
    -webkit-app-region: no-drag;
    animation: 0.5s ease-in-out gamecode-submit-anim;
}

@keyframes gamecode-submit-anim
{
    0% {opacity: 0; transform: translate(50%, 0)}
    100% {opacity: 1; transform: translate(100%, 0)}
}

div.main-menu-title-container div.buttons-container
{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    width: 300px;
    animation: 0.7s ease-in-out button-anim;
}

div.main-menu-title-container div.button, input.gamecode
{
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 12px;
    color: black;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    background-color: #f0f0f0;
    // clip-path: polygon(5% 5%, 100% 5%, 95% 100%, 0% 100%);
    border-radius: 12px;
    transition: 0.1s ease-in-out transform;
    -webkit-app-region: no-drag;
}

@keyframes button-anim
{
    0% {opacity: 0; transform: translateY(20px)}
    100% {opacity: 1; transform: translateY(0)}
}

div.main-menu-title-container div.button.disabled
{
    opacity: 0.5;
    cursor: not-allowed;
}

div.main-menu-title-container div.button.disabled:hover
{
    transform: none;
}

div.main-menu-title-container input.gamecode
{
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: auto;
    outline: none;
    border: none;
    border-radius: 12px;
    text-transform: capitalize;
    animation: none;
    -webkit-app-region: no-drag;
}

div.main-menu-title-container div.gamecode-container
{
    position: relative;
    display: inline-block;
}