div.player-card-container
{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    padding: 12px;
    flex: 1 0 30%;
    min-width: 350px;
    max-width: max(30vw, 700px);
    user-select: none;
    z-index: 0;
    overflow: hidden;
}

div.player-card-container div.player-card-background
{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgb(139, 139, 139) 0%, rgb(139, 139, 139) 100%); 
    width: 100%;
    height: 100%;
}

div.player-card-container.popout
{
    width: 96%;
    height: 95%;
    border-radius: 0;
    flex: none;
    max-width: 100%;
    -webkit-app-region: drag;
    margin: 0;
}

div.player-card-container div.stop-editing-container
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -12px;
    margin-left: -12px;
    border-radius: 12px;
}

div.player-card-container div.top-bar
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

div.player-card-container div.top-bar div.cardicon-container
{
    margin-left: 8px;
}

div.player-card-container div.top-bar *
{
    display: inline-block;
    align-items: center;
    z-index: 5;
}

div.player-card-container div.top-bar div.player-rank
{
    display: inline-block;
    font-size: 16px;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    margin-right: 2px;
    border: 2px solid white;
    transform: scale(1);
    animation: 0.2s ease-in-out player-rank-appear;
}

@keyframes player-rank-appear
{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

div.player-card-container div.top-bar div.player-rank.rank1
{
    background-color: gold;
    color: black;
    border: 2px solid black;
}

div.player-card-container div.top-bar div.player-rank.rank2
{
    background-color: silver;
    color: black;
    border: 2px solid black;
}

div.player-card-container div.top-bar div.player-rank.rank3
{
    background-color: #b8876d;
    color: black;
    border: 2px solid black;
}

div.player-card-container div.top-bar div.player-name,
div.player-card-container div.top-bar input.player-name
{
    font-size: 24px;
    font-weight: bold;
    margin-left: 2px;
    display: inline-block;
    max-width: 75%;
    flex: 1 0 70%;
}

div.player-card-container div.top-bar input.player-name.name-input
{
    padding: 4px;
    padding-left: 10px;
    z-index: 10;
    cursor: auto;
    outline: none;
    border: none;
    border-radius: 12px;
    text-transform: capitalize;
    animation: none;
    user-select: all;
    -webkit-app-region: no-drag;
}

div.player-card-container div.top-bar div.nav-items
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

div.player-card-container div.song-info
{
    position: relative;
}

div.player-card-container div.song-info div.info.song-pack,
div.player-card-container div.song-info div.info.song-difficulty
{
    width: calc(100% - 48px * 3);
}

div.player-card-container div.song-info svg
{
    width: 24px;
    height: 24px;
}

div.player-card-container div.song-info div.cardicon-container
{
    margin-right: 10px;
}

div.player-card-container div.song-info>div.info
{
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

div.player-card-container div.song-info div.song-score
{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 48px;
    margin: 0;
}

div.player-card-container div.song-progress-bar
{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 20px;
    height: 8px;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

div.player-card-container div.song-progress-bar div.song-progress-bar-fill
{
    height: 100%;
    border-radius: 20px;
    background-color: white;
    transition: 1.5s linear width;
}

div.player-card-container div.step-scores-container
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

div.player-card-container div.step-score-container
{
    display: inline-block;
    position: relative;
    width: fit-content;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    padding: 6px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    text-align: center;
    flex: 1 1 0px;
    border-radius: 8px;
}

div.player-card-container div.step-score-container:last-child
{
    margin-right: 0;
}

div.player-card-container div.step-score-container:first-child
{
    margin-left: 0;
}

div.player-card-container div.step-score-container div.step-score-title
{
    font-size: 12px;
    margin-top: 2px;
}

div.player-card-container div.step-score-container div.step-score
{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 22px;
}